:root {
  --primary-colour: blue;
  --secondary-colour: white;
  --tertiary-colour: black;
  --body-mono-fonts: 'IBM Plex Mono', hack, monospace, monospace;
  --body-serif-fonts: 'Garamond', 'Times New Roman', serif;
  --display-serif-fonts: 'Instrument Serif', 'Playfair Display';
  --heading-fonts:
    var(--display-serif-fonts), var(--body-serif-fonts), var(--body-mono-fonts);
  --body-fonts-size: 1.2rem;
  font-size: var(--body-fonts-size);
}

body {
  margin: 0;
  padding: 0;

  a {
    color: inherit;
  }
}

header {
  position: sticky;
}
.panel {
  transition:
    opacity 0.2s,
    overlay 0.2s allow-discrete;
  transition-behavior: allow-discrete;
}
.panel.hidden {
  opacity: 0;
  display: none;
}

@media print {
  body {
    background: none;
  }

  img {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }

  article p a:after {
    content: ' [' attr(href) '] ';
  }

  .no-print {
    display: none;
  }
}

header {
  :focus,
  a:hover,
  button:hover,
  ::selection {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
  }
}

main {
  button:hover,
  ::selection {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
  }
  :focus,
  a:hover {
    color: var(--primary-colour);
  }
}

@keyframes blinker {
  50% {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
  }
}
