---
---
<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
        <link rel="icon" sizes="any" href="/favicon.ico">
        <link type="application/atom+xml" rel="alternate" href="{{ site.url | append: 'feed.xml' }}" title="{{ site.title | append: ' - Atom Feed' }}">
        <style>{% include main.css %}</style>
	</head>
	<body>
		<header>
			<h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
		</header>
        <nav>
            <ul>
                <li><a rel="author" title="{{ site.author.email | xml_escape }}" href="mailto:{{ site.author.email }}">Email</a></li>
                <li><a rel="external" title="{{ site.author.github | xml_escape }} on GitHub" href="https://github.com/{{ site.author.github }}">Github</a></li>
                <li><a rel="external" title="{{ site.author.linkedin | xml_escape }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>
                <li><a rel="external" title="{{ site.author.instagram | xml_escape }} on Instagram" href="https://www.instagram.com/{{ site.author.instagram }}">Instagram</a></li>
            </ul>
        </nav>
        <main>
			{{ content }}
		</main>
	</body>
</html>
